In [13]:
import numpy as np
import pandas as pd

In [14]:
credits = pd.read_csv('credits.csv')

In [24]:
keywords = pd.read_csv('keywords.csv')

In [15]:
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3...","[{'credit_id': '52fe4284c3a36847f8024f49', 'department': 'Directing', '...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', 'credit_id': '52fe44bfc3a3...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'department': 'Production', ...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'credit_id': '52fe466a92514...","[{'credit_id': '52fe466a9251416c75077a89', 'department': 'Directing', '...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah' Jackson"", 'credit_id': ...","[{'credit_id': '52fe44779251416c91011acb', 'department': 'Directing', '...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', 'credit_id': '52fe44959251...","[{'credit_id': '52fe44959251416c75039ed7', 'department': 'Sound', 'gend...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': '5894a909925141427e0079a5...","[{'credit_id': '5894a97d925141426c00818c', 'department': 'Directing', '...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela', 'credit_id': '52fe4af1...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'department': 'Directing', '...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'credit_id': '52fe4776c3a368...","[{'credit_id': '52fe4776c3a368484e0c8387', 'department': 'Directing', '...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': '52fe4ea59251416c7515d7d5...","[{'credit_id': '533bccebc3a36844cf0011a7', 'department': 'Directing', '...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'department': 'Directing', '...",461257

In [16]:
meta = pd.read_csv('movies_metadata.csv')

In [18]:
meta['release_date'] = pd.to_datetime(meta['release_date'], errors='coerce')

In [19]:

meta['year'] = meta['release_date'].dt.year

In [20]:
meta['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [21]:
# Getting only 2017 movies as we already have movies up to the year 2016 in preprocessing 1 file. 
# We don't have enough data for the movies from 2018, 2019 and 2020. 
# We'll deal with it in the upcoming preprocessing files
new_meta = meta.loc[meta.year == 2017,['genres','id','title','year','original_language']]

In [22]:

new_meta

,genres,id,title,year,original_language
26560,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,en
26561,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",141052,Justice League,2017.0,en
26565,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",284053,Thor: Ragnarok,2017.0,en
26566,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",283995,Guardians of the Galaxy Vol. 2,2017.0,en
30536,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12...",245842,The King's Daughter,2017.0,en
...,...,...,...,...,...
45398,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",468707,Thick Lashes of Lauri Mäntyvaara,2017.0,fi
45417,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name': 'Comedy'}, {'id': 28, ...",461297,Cop and a Half: New Recruit,2017.0,en
45437,"[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id...",455661,In a Heartbeat,2017.0,en
45453,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, '...",404604,Mom,2017.0,hi
45465,[],461257,Queerama,2017.0,en

In [28]:
link = "https://meta.wikimedia.org/wiki/Template:List_of_language_names_ordered_by_code"
df1 = pd.read_html(link, header=0)[0]
df1

,Code,English language name,Directionality,Local language name,Local or English Wikipedia article,Comment
0,aa,Afar,ltr,Afar,en:Afar language,NaN
1,ab,Abkhazian,ltr,Аҧсуа,en:Abkhazian language,NaN
2,af,Afrikaans,ltr,Afrikaans,en:Afrikaans language,NaN
3,ak,Akan,ltr,Akana,en:Akan language,NaN
4,als,Alemannic,ltr,Alemannisch,en:Alemannic language,en:ISO 639-3: gsw (als is en:Tosk Albanian)
...,...,...,...,...,...,...
262,closed-zh-tw,Traditional Chinese,ltr,‪中文(台灣)‬,en:Chinese language,Closed
263,nb,Norwegian Bokmål,ltr,Norsk (bokmål),en:Bokmål,Redirects to no
264,zh-tw,Traditional Chinese,ltr,‪中文(台灣)‬,en:Chinese language,Redirects to zh
265,tokipona,tokipona,ltr,tokipona,en:Toki Pona,moved to http://tokipona.wikia.com/
266,See also Test languages,See also Test languages,See also Test languages,See also Test languages,See also Test languages,See also Test languages

In [31]:
new_meta = pd.merge(new_meta, df1, left_on='original_language',right_on='Code')

In [33]:
new_meta.drop(['original_language','Code','Directionality','Local language name','Local or English Wikipedia article','Comment'],axis=1,inplace=True)

In [35]:
new_meta = new_meta.rename(columns={'English language name':'language'})

In [39]:
new_meta['id'] = new_meta['id'].astype(int)

In [40]:
data = pd.merge(new_meta, credits, on='id')

In [41]:
data = pd.merge(data, keywords, on='id')

In [42]:
pd.set_option('display.max_colwidth', 75)
data

,genres,id,title,year,language,cast,crew,keywords
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,English,"[{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ...","[{'id': 658, 'name': 'sea'}, {'id': 3799, 'name': 'ship'}, {'id': 9663,..."
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",141052,Justice League,2017.0,English,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ...","[{'id': 849, 'name': 'dc comics'}, {'id': 9717, 'name': 'based on comic..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",284053,Thor: Ragnarok,2017.0,English,"[{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge...","[{'id': 8828, 'name': 'marvel comic'}, {'id': 9663, 'name': 'sequel'}, ..."
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",283995,Guardians of the Galaxy Vol. 2,2017.0,English,"[{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '5...","[{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gend...","[{'id': 9663, 'name': 'sequel'}, {'id': 9715, 'name': 'superhero'}, {'i..."
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12...",245842,The King's Daughter,2017.0,English,"[{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e...","[{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', '...","[{'id': 4978, 'name': 'immortality'}, {'id': 5938, 'name': 'mermaid'}, ..."
...,...,...,...,...,...,...,...,...
527,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'name': 'Drama'}]",449742,Kavan,2017.0,Tamil,"[{'cast_id': 0, 'character': 'Tilak', 'credit_id': '58dd289e92514141100...","[{'credit_id': '58dd2aa792514140f600cddc', 'department': 'Editing', 'ge...","[{'id': 917, 'name': 'journalism'}, {'id': 6007, 'name': 'media'}]"
528,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}]",436882,Tuintje in mijn hart,2017.0,Dutch,"[{'cast_id': 2, 'character': '', 'credit_id': '58862cad9251414cd3001a8a...","[{'credit_id': '58862aa4c3a36845e600055b', 'department': 'Directing', '...",[]
529,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}]",438634,Summer 1993,2017.0,Catalan,"[{'cast_id': 0, 'character': 'Frida', 'credit_id': '589211949251412dc50...","[{'credit_id': '58a0bdab9251412b70001f0c', 'department': 'Camera', 'gen...","[{'id': 185722, 'name': 'based on true events'}, {'id': 187056, 'name':..."
530,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'name': 'Crime'}, {'id': 36, ...",440266,Midday Event,2017.0,Persian,"[{'cast_id': 0, 'character': '', 'credit_id': '589a1110c3a36801dd000bc2...","[{'credit_id': '589a11919251410d96000d5a', 'department': 'Directing', '...","[{'id': 321, 'name': 'terror'}, {'id': 2020, 'name': 'revolution'}, {'i..."
531,"[{'id': 10751, 'name': 'Family'}, {'id': 35, 'name': 'Comedy'}, {'id': ...",421126,The Dragon Spell,2017.0,Ukrainian,"[{'cast_id': 8, 'character': 'Nicky', 'credit_id': '595145389251412b230...","[{'credit_id': '57ffd8c2c3a3681539001a4f', 'department': 'Directing', '...",[]

In [43]:
# evaluates an expression node or a string containing a Python literal or container display
import ast
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))
data['keywords'] = data['keywords'].map(lambda x: ast.literal_eval(x))

In [44]:
def make_genresList(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [45]:
data['genres_list'] = data['genres'].map(lambda x: make_genresList(x))

In [46]:
data['genres_list']

0                Adventure Action Fantasy Comedy
1                Action Adventure Fantasy Sci-Fi
2                Action Adventure Fantasy Sci-Fi
3                 Action Adventure Comedy Sci-Fi
4                       Fantasy Action Adventure
                         ...
527                               Thriller Drama
528                                Romance Drama
529                                 Drama Family
530                         Action Crime History
531    Family Comedy Animation Fantasy Adventure
Name: genres_list, Length: 532, dtype: object

In [47]:
def get_actor1(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == []:
        return np.NaN
    else:
        return (casts[0])

In [48]:
data['actor_1_name'] = data['cast'].map(lambda x: get_actor1(x))

In [49]:
def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1])

In [50]:
data['actor_2_name'] = data['cast'].map(lambda x: get_actor2(x))

In [51]:
data['actor_2_name']

0            Javier Bardem
1             Henry Cavill
2           Tom Hiddleston
3              Zoe Saldana
4             William Hurt
              ...
527      Madonna Sebastian
528    Fockeline Ouwerkerk
529             Bruna Cusí
530         Babak Hamidian
531        Vasyl Virastyuk
Name: actor_2_name, Length: 532, dtype: object

In [52]:
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [53]:
data['actor_3_name'] = data['cast'].map(lambda x: get_actor3(x))

In [54]:
data['actor_3_name']

0         Geoffrey Rush
1             Gal Gadot
2        Cate Blanchett
3         Dave Bautista
4       Benjamin Walker
             ...
527         T. Rajendar
528    Imanuelle Grives
529     David Verdaguer
530         Javad Ezati
531     Ruslana Pysanka
Name: actor_3_name, Length: 532, dtype: object

In [55]:
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

In [56]:
data['director_name'] = data['crew'].map(lambda x: get_directors(x))

In [57]:
data['director_name']

0      Joachim Rønning Espen Sandberg
1                         Zack Snyder
2                       Taika Waititi
3                          James Gunn
4                       Sean McNamara
                    ...
527                       K. V. Anand
528                      Marc Waltman
529                       Carla Simón
530        Mohammad Hossein Mahdavian
531                     Manuk Depoyan
Name: director_name, Length: 532, dtype: object

In [59]:
def make_keywordList(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [60]:
data['keywords'] = data['keywords'].map(lambda x: make_keywordList(x))

In [61]:
data['keywords']

0      sea ship sequel artifact treasure map pirate period drama monkey swashb...
1                      dc comics based on comic super powers dc extended universe
2      marvel comic sequel superhero based on comic female villain norse mytho...
3      sequel superhero based on comic misfit space outer space aftercreditsst...
4                       immortality mermaid period drama illegitimate child quest
                                          ...
527                                                              journalism media
528                                                                           NaN
529                                           based on true events woman director
530                                       terror revolution killer iran political
531                                                                           NaN
Name: keywords, Length: 532, dtype: object

In [62]:
data

,genres,id,title,year,language,cast,crew,keywords,genres_list,actor_1_name,actor_2_name,actor_3_name,director_name
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,English,"[{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ...",sea ship sequel artifact treasure map pirate period drama monkey swashb...,Adventure Action Fantasy Comedy,Johnny Depp,Javier Bardem,Geoffrey Rush,Joachim Rønning Espen Sandberg
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",141052,Justice League,2017.0,English,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ...",dc comics based on comic super powers dc extended universe,Action Adventure Fantasy Sci-Fi,Ben Affleck,Henry Cavill,Gal Gadot,Zack Snyder
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",284053,Thor: Ragnarok,2017.0,English,"[{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge...",marvel comic sequel superhero based on comic female villain norse mytho...,Action Adventure Fantasy Sci-Fi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Taika Waititi
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",283995,Guardians of the Galaxy Vol. 2,2017.0,English,"[{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '5...","[{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gend...",sequel superhero based on comic misfit space outer space aftercreditsst...,Action Adventure Comedy Sci-Fi,Chris Pratt,Zoe Saldana,Dave Bautista,James Gunn
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12...",245842,The King's Daughter,2017.0,English,"[{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e...","[{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', '...",immortality mermaid period drama illegitimate child quest,Fantasy Action Adventure,Pierce Brosnan,William Hurt,Benjamin Walker,Sean McNamara
...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'name': 'Drama'}]",449742,Kavan,2017.0,Tamil,"[{'cast_id': 0, 'character': 'Tilak', 'credit_id': '58dd289e92514141100...","[{'credit_id': '58dd2aa792514140f600cddc', 'department': 'Editing', 'ge...",journalism media,Thriller Drama,Vijay Sethupathi,Madonna Sebastian,T. Rajendar,K. V. Anand
528,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}]",436882,Tuintje in mijn hart,2017.0,Dutch,"[{'cast_id': 2, 'character': '', 'credit_id': '58862cad9251414cd3001a8a...","[{'credit_id': '58862aa4c3a36845e600055b', 'department': 'Directing', '...",NaN,Romance Drama,Sanne Langelaar,Fockeline Ouwerkerk,Imanuelle Grives,Marc Waltman
529,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}]",438634,Summer 1993,2017.0,Catalan,"[{'cast_id': 0, 'character': 'Frida', 'credit_id': '589211949251412dc50...","[{'credit_id': '58a0bdab9251412b70001f0c', 'department': 'Camera', 'gen...",based on true events woman director,Drama Family,Laia Artigas,Bruna Cusí,David Verdaguer,Carla Simón
530,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'name': 'Crime'}, {'id': 36, ...",440266,Midday Event,2017.0,Persian,"[{'cast_id': 0, 'character': '', 'credit_id': '589a1110c3a36801dd000bc2...","[{'credit_id': '589a11919251410d96000d5a', 'department': 'Directing', '...",terror revolution killer iran political,Action Crime History,Mehrdad Sedighian,Babak Hamidian,Javad Ezati,Mohammad Hossein Mahdavian
531,"[{'id': 10751, 'name': 'Family'}, {'id': 35, 'name': 'Comedy'}, {'id': ...",421126,The Dragon Spell,2017.0,Ukrainian,"[{'cast_id': 8, 'character': 'Nicky', 'credit_id': '595145389251412b230...","[{'credit_id': '57ffd8c2c3a3681539001a4f', 'department': 'Directing', '...",NaN,Family Comedy Animation Fantasy Adventure,Arsen Shavlyuk,Vasyl Virastyuk,Ruslana Pysanka,Manuk Depoyan

In [63]:
movie = data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres_list','title','keywords','language']]

In [64]:
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,genres_list,title,keywords,language
0,Joachim Rønning Espen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush,Adventure Action Fantasy Comedy,Pirates of the Caribbean: Dead Men Tell No Tales,sea ship sequel artifact treasure map pirate period drama monkey swashb...,English
1,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Action Adventure Fantasy Sci-Fi,Justice League,dc comics based on comic super powers dc extended universe,English
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Action Adventure Fantasy Sci-Fi,Thor: Ragnarok,marvel comic sequel superhero based on comic female villain norse mytho...,English
3,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Action Adventure Comedy Sci-Fi,Guardians of the Galaxy Vol. 2,sequel superhero based on comic misfit space outer space aftercreditsst...,English
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy Action Adventure,The King's Daughter,immortality mermaid period drama illegitimate child quest,English
...,...,...,...,...,...,...,...,...
527,K. V. Anand,Vijay Sethupathi,Madonna Sebastian,T. Rajendar,Thriller Drama,Kavan,journalism media,Tamil
528,Marc Waltman,Sanne Langelaar,Fockeline Ouwerkerk,Imanuelle Grives,Romance Drama,Tuintje in mijn hart,NaN,Dutch
529,Carla Simón,Laia Artigas,Bruna Cusí,David Verdaguer,Drama Family,Summer 1993,based on true events woman director,Catalan
530,Mohammad Hossein Mahdavian,Mehrdad Sedighian,Babak Hamidian,Javad Ezati,Action Crime History,Midday Event,terror revolution killer iran political,Persian
531,Manuk Depoyan,Arsen Shavlyuk,Vasyl Virastyuk,Ruslana Pysanka,Family Comedy Animation Fantasy Adventure,The Dragon Spell,NaN,Ukrainian

In [65]:
movie.isna().sum()

director_name      4
actor_1_name      22
actor_2_name      55
actor_3_name      70
genres_list        7
title              0
keywords         133
language           0
dtype: int64

In [68]:
movie['actor_1_name'] = movie['actor_1_name'].replace(np.nan, 'unknown_actor')
movie['actor_2_name'] = movie['actor_2_name'].replace(np.nan, 'unknown_actor')
movie['actor_3_name'] = movie['actor_3_name'].replace(np.nan, 'unknown_actor')
movie['director_name'] = movie['director_name'].replace(np.nan, 'unknown_director')
movie['keywords'] = movie['keywords'].replace(np.nan, 'unknown_keywords')
movie['language'] = movie['language'].replace(np.nan, 'English')
movie['genres_list'] = movie['genres_list'].replace(np.nan, ' ')

In [69]:
movie.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres_list      0
title            0
keywords         0
language         0
dtype: int64

In [70]:
movie = movie.rename(columns={'genres_list':'genres'})
movie = movie.rename(columns={'title':'movie_title'})
movie = movie.rename(columns={'keywords':'plot_keywords'})

In [72]:
for i in movie.columns:
    movie[i] = movie[i].str.lower()

In [75]:
movie['comb'] = movie['actor_1_name'] + ' ' + movie['actor_2_name'] + ' '+ movie['actor_3_name'] + ' '+ movie['director_name'] +' ' + movie['genres']+' ' + movie['plot_keywords']+' ' + movie['language']

In [76]:
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,plot_keywords,language,comb
0,joachim rønning espen sandberg,johnny depp,javier bardem,geoffrey rush,adventure action fantasy comedy,pirates of the caribbean: dead men tell no tales,sea ship sequel artifact treasure map pirate period drama monkey swashb...,english,johnny depp javier bardem geoffrey rush joachim rønning espen sandberg ...
1,zack snyder,ben affleck,henry cavill,gal gadot,action adventure fantasy sci-fi,justice league,dc comics based on comic super powers dc extended universe,english,ben affleck henry cavill gal gadot zack snyder action adventure fantasy...
2,taika waititi,chris hemsworth,tom hiddleston,cate blanchett,action adventure fantasy sci-fi,thor: ragnarok,marvel comic sequel superhero based on comic female villain norse mytho...,english,chris hemsworth tom hiddleston cate blanchett taika waititi action adve...
3,james gunn,chris pratt,zoe saldana,dave bautista,action adventure comedy sci-fi,guardians of the galaxy vol. 2,sequel superhero based on comic misfit space outer space aftercreditsst...,english,chris pratt zoe saldana dave bautista james gunn action adventure comed...
4,sean mcnamara,pierce brosnan,william hurt,benjamin walker,fantasy action adventure,the king's daughter,immortality mermaid period drama illegitimate child quest,english,pierce brosnan william hurt benjamin walker sean mcnamara fantasy actio...
...,...,...,...,...,...,...,...,...,...
527,k. v. anand,vijay sethupathi,madonna sebastian,t. rajendar,thriller drama,kavan,journalism media,tamil,vijay sethupathi madonna sebastian t. rajendar k. v. anand thriller dra...
528,marc waltman,sanne langelaar,fockeline ouwerkerk,imanuelle grives,romance drama,tuintje in mijn hart,unknown_keywords,dutch,sanne langelaar fockeline ouwerkerk imanuelle grives marc waltman roman...
529,carla simón,laia artigas,bruna cusí,david verdaguer,drama family,summer 1993,based on true events woman director,catalan,laia artigas bruna cusí david verdaguer carla simón drama family based ...
530,mohammad hossein mahdavian,mehrdad sedighian,babak hamidian,javad ezati,action crime history,midday event,terror revolution killer iran political,persian,mehrdad sedighian babak hamidian javad ezati mohammad hossein mahdavian...
531,manuk depoyan,arsen shavlyuk,vasyl virastyuk,ruslana pysanka,family comedy animation fantasy adventure,the dragon spell,unknown_keywords,ukrainian,arsen shavlyuk vasyl virastyuk ruslana pysanka manuk depoyan family com...

In [77]:
old = pd.read_csv('data.csv')

In [78]:
old

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,plot_keywords,language
0,james cameron,cch pounder,joel david moore,wes studi,action adventure fantasy sci-fi,avatar,avatar future marine native paraplegic,english
1,gore verbinski,johnny depp,orlando bloom,jack davenport,action adventure fantasy,pirates of the caribbean: at world's end,goddess marriage ceremony marriage proposal pirate singapore,english
2,sam mendes,christoph waltz,rory kinnear,stephanie sigman,action adventure thriller,spectre,bomb espionage sequel spy terrorist,english
3,christopher nolan,tom hardy,christian bale,joseph gordon-levitt,action thriller,the dark knight rises,deception imprisonment lawlessness police officer terrorist plot,english
4,doug walker,doug walker,rob walker,unknown_actor,documentary,star wars: episode vii - the force awakens,unknown_keywords,english
...,...,...,...,...,...,...,...,...
5038,scott smith,eric mabius,daphne zuniga,crystal lowe,comedy drama,signed sealed delivered,fraud postal worker prison theft trial,english
5039,unknown_director,natalie zea,valorie curry,sam underwood,crime drama mystery thriller,the following,cult fbi hideout prison escape serial killer,english
5040,benjamin roberds,eva boehnke,maxwell moody,david chandler,drama horror thriller,a plague so pleasant,unknown_keywords,english
5041,daniel hsia,alan ruck,daniel henney,eliza coupe,comedy drama romance,shanghai calling,unknown_keywords,english
5042,jon gunn,john august,brian herzlinger,jon gunn,documentary,my date with drew,actress name in title crush date four word title video camera,english

In [79]:
old['comb'] = old['actor_1_name'] + ' ' + old['actor_2_name'] + ' '+ old['actor_3_name'] + ' '+ old['director_name'] +' ' + old['genres']+' ' + old['plot_keywords']+' ' + old['language']

In [80]:
old

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,plot_keywords,language,comb
0,james cameron,cch pounder,joel david moore,wes studi,action adventure fantasy sci-fi,avatar,avatar future marine native paraplegic,english,cch pounder joel david moore wes studi james cameron action adventure f...
1,gore verbinski,johnny depp,orlando bloom,jack davenport,action adventure fantasy,pirates of the caribbean: at world's end,goddess marriage ceremony marriage proposal pirate singapore,english,johnny depp orlando bloom jack davenport gore verbinski action adventur...
2,sam mendes,christoph waltz,rory kinnear,stephanie sigman,action adventure thriller,spectre,bomb espionage sequel spy terrorist,english,christoph waltz rory kinnear stephanie sigman sam mendes action adventu...
3,christopher nolan,tom hardy,christian bale,joseph gordon-levitt,action thriller,the dark knight rises,deception imprisonment lawlessness police officer terrorist plot,english,tom hardy christian bale joseph gordon-levitt christopher nolan action ...
4,doug walker,doug walker,rob walker,unknown_actor,documentary,star wars: episode vii - the force awakens,unknown_keywords,english,doug walker rob walker unknown_actor doug walker documentary unknown_ke...
...,...,...,...,...,...,...,...,...,...
5038,scott smith,eric mabius,daphne zuniga,crystal lowe,comedy drama,signed sealed delivered,fraud postal worker prison theft trial,english,eric mabius daphne zuniga crystal lowe scott smith comedy drama fraud p...
5039,unknown_director,natalie zea,valorie curry,sam underwood,crime drama mystery thriller,the following,cult fbi hideout prison escape serial killer,english,natalie zea valorie curry sam underwood unknown_director crime drama my...
5040,benjamin roberds,eva boehnke,maxwell moody,david chandler,drama horror thriller,a plague so pleasant,unknown_keywords,english,eva boehnke maxwell moody david chandler benjamin roberds drama horror ...
5041,daniel hsia,alan ruck,daniel henney,eliza coupe,comedy drama romance,shanghai calling,unknown_keywords,english,alan ruck daniel henney eliza coupe daniel hsia comedy drama romance un...
5042,jon gunn,john august,brian herzlinger,jon gunn,documentary,my date with drew,actress name in title crush date four word title video camera,english,john august brian herzlinger jon gunn jon gunn documentary actress name...

In [81]:
new = old.append(movie)

In [82]:
new

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,plot_keywords,language,comb
0,james cameron,cch pounder,joel david moore,wes studi,action adventure fantasy sci-fi,avatar,avatar future marine native paraplegic,english,cch pounder joel david moore wes studi james cameron action adventure f...
1,gore verbinski,johnny depp,orlando bloom,jack davenport,action adventure fantasy,pirates of the caribbean: at world's end,goddess marriage ceremony marriage proposal pirate singapore,english,johnny depp orlando bloom jack davenport gore verbinski action adventur...
2,sam mendes,christoph waltz,rory kinnear,stephanie sigman,action adventure thriller,spectre,bomb espionage sequel spy terrorist,english,christoph waltz rory kinnear stephanie sigman sam mendes action adventu...
3,christopher nolan,tom hardy,christian bale,joseph gordon-levitt,action thriller,the dark knight rises,deception imprisonment lawlessness police officer terrorist plot,english,tom hardy christian bale joseph gordon-levitt christopher nolan action ...
4,doug walker,doug walker,rob walker,unknown_actor,documentary,star wars: episode vii - the force awakens,unknown_keywords,english,doug walker rob walker unknown_actor doug walker documentary unknown_ke...
...,...,...,...,...,...,...,...,...,...
527,k. v. anand,vijay sethupathi,madonna sebastian,t. rajendar,thriller drama,kavan,journalism media,tamil,vijay sethupathi madonna sebastian t. rajendar k. v. anand thriller dra...
528,marc waltman,sanne langelaar,fockeline ouwerkerk,imanuelle grives,romance drama,tuintje in mijn hart,unknown_keywords,dutch,sanne langelaar fockeline ouwerkerk imanuelle grives marc waltman roman...
529,carla simón,laia artigas,bruna cusí,david verdaguer,drama family,summer 1993,based on true events woman director,catalan,laia artigas bruna cusí david verdaguer carla simón drama family based ...
530,mohammad hossein mahdavian,mehrdad sedighian,babak hamidian,javad ezati,action crime history,midday event,terror revolution killer iran political,persian,mehrdad sedighian babak hamidian javad ezati mohammad hossein mahdavian...
531,manuk depoyan,arsen shavlyuk,vasyl virastyuk,ruslana pysanka,family comedy animation fantasy adventure,the dragon spell,unknown_keywords,ukrainian,arsen shavlyuk vasyl virastyuk ruslana pysanka manuk depoyan family com...

In [95]:
new.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)

In [96]:
new

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,plot_keywords,language,comb
0,james cameron,cch pounder,joel david moore,wes studi,action adventure fantasy sci-fi,avatar,avatar future marine native paraplegic,english,cch pounder joel david moore wes studi james cameron action adventure f...
1,gore verbinski,johnny depp,orlando bloom,jack davenport,action adventure fantasy,pirates of the caribbean: at world's end,goddess marriage ceremony marriage proposal pirate singapore,english,johnny depp orlando bloom jack davenport gore verbinski action adventur...
2,sam mendes,christoph waltz,rory kinnear,stephanie sigman,action adventure thriller,spectre,bomb espionage sequel spy terrorist,english,christoph waltz rory kinnear stephanie sigman sam mendes action adventu...
3,christopher nolan,tom hardy,christian bale,joseph gordon-levitt,action thriller,the dark knight rises,deception imprisonment lawlessness police officer terrorist plot,english,tom hardy christian bale joseph gordon-levitt christopher nolan action ...
4,doug walker,doug walker,rob walker,unknown_actor,documentary,star wars: episode vii - the force awakens,unknown_keywords,english,doug walker rob walker unknown_actor doug walker documentary unknown_ke...
...,...,...,...,...,...,...,...,...,...
527,k. v. anand,vijay sethupathi,madonna sebastian,t. rajendar,thriller drama,kavan,journalism media,tamil,vijay sethupathi madonna sebastian t. rajendar k. v. anand thriller dra...
528,marc waltman,sanne langelaar,fockeline ouwerkerk,imanuelle grives,romance drama,tuintje in mijn hart,unknown_keywords,dutch,sanne langelaar fockeline ouwerkerk imanuelle grives marc waltman roman...
529,carla simón,laia artigas,bruna cusí,david verdaguer,drama family,summer 1993,based on true events woman director,catalan,laia artigas bruna cusí david verdaguer carla simón drama family based ...
530,mohammad hossein mahdavian,mehrdad sedighian,babak hamidian,javad ezati,action crime history,midday event,terror revolution killer iran political,persian,mehrdad sedighian babak hamidian javad ezati mohammad hossein mahdavian...
531,manuk depoyan,arsen shavlyuk,vasyl virastyuk,ruslana pysanka,family comedy animation fantasy adventure,the dragon spell,unknown_keywords,ukrainian,arsen shavlyuk vasyl virastyuk ruslana pysanka manuk depoyan family com...

In [97]:
new.to_csv('new_data.csv',index=False)